#wa-compbutton-jbzex1qy3jyqaw {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#f89522; font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; border-color:rgba(46,109,164,0);}
#wa-compbutton-jbzex1qy3jyqaw-halign {text-align:center;}
#wa-compbutton-jbzex1qy3jyqaw:hover {background-color:#f5621d;}
#wa-compbutton-jbzf5lhm2ck1wo {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#f89522; font-family:Open Sans, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; border-color:rgba(46,109,164,0);}
#wa-compbutton-jbzf5lhm2ck1wo-halign {text-align:center;}
#wa-compbutton-jbzf5lhm2ck1wo:hover {background-color:#f5621d;}
#wa-compbutton-jbzflz4k79g1eg {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#006ffc; background-color:#ffffff; font-family:Tahoma, Geneva, Kalimati, sans-serif; border-color:rgba(46,109,164,0);}
#wa-compbutton-jbzflz4k79g1eg-halign {text-align:center;}
#wa-compbutton-jbzflz4k79g1eg:hover {background-color:#ffffff;}
#wa-compbutton-jbzg5ytg7s3wx4 {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#0059ca; font-family:Open Sans, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; border-color:rgba(46,109,164,0);}
#wa-compbutton-jbzg5ytg7s3wx4:hover {background-color:#033497;}
#wa-compbutton-jbzg7eca8o8cc0 {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#109efc; font-family:Open Sans, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; border-color:rgba(46,109,164,0);}
#wa-compbutton-jbzg7eca8o8cc0:hover {background-color:#0c7abf;}
#wa-compbutton-jbzg7i3e8e5qds {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#e83b68; font-family:Open Sans, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; border-color:rgba(46,109,164,0);}
#wa-compbutton-jbzg7i3e8e5qds:hover {background-color:#c22e4e;}
#wa-compbutton-jbzgh2bu8e5p3s {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; font-family:Open Sans, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; border-color:#2e6da4;}
#wa-compbutton-jbzgh2bu8e5p3s-halign {text-align:center;}
#wa-compbutton-jbzgh2bu8e5p3s:hover {background-color:#2e6da4;}
#wa-compimage-jbzetvd02d4mxs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-jbzetvd02d4mxs {padding:50px 50px 0px 50px;}
#wa-comptext-jbzetszr1tl7ko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzf0bbu3kfhiw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzf2ap67d6zow {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzf3a593iwlwo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzf3c4w3iwoeg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzfdgp489av68 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzfdlk089ayww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzfdms889avso {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzfuqz63muw3s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzfy3001tl8tk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzg57k87d75xc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzg7eca5u8puo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzg7i3e5u8e08 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzgds0s5st9dk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzgdt6k5stezk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzgdyl05sthhc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzh5dj25st7i8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzi0gqx8w58vs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzi179i7u5t4g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jc52u0hi5d2utc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hi5d2utc>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hi5d2utc>.wa-container-vspacer {height:0px;}
#wa-container-jc52u0hi5d307s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hi5d307s>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hi5d307s>.wa-container-vspacer {height:0px;}
#wa-container-jc52u0hk5d2xwg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hk5d2xwg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hk5d2xwg>.wa-container-vspacer {height:0px;}
#wa-container-jc52u0hm5d2t9s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hm5d2t9s>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hm5d2t9s>.wa-container-vspacer {height:0px;}
#wa-container-jc52u0hm5d2x4o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hm5d2x4o>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hm5d2x4o>.wa-container-vspacer {height:0px;}
#wa-container-jc52u0hs5d2yo8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hs5d2yo8>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hs5d2yo8>.wa-container-vspacer {height:0px;}
#wa-container-jc52u0hu5d3ck8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hu5d3ck8>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hu5d3ck8>.wa-container-vspacer {height:0px;}
#wa-container-jc52u0hu5d3dc0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hu5d3dc0>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hu5d3dc0>.wa-container-vspacer {height:0px;}
#wa-container-jc52u0hu5d3e3s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hu5d3e3s>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hu5d3e3s>.wa-container-vspacer {height:0px;}
#wa-container-jc52u0hu5d3gf4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jc52u0hu5d3gf4>.row>.clearfix {margin-bottom:0px;}
#wa-container-jc52u0hu5d3gf4>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-jc52u0hi5d307s {background-color:rgba(199,199,199,0.258824);}
#wa-container-wrapper-jc52u0hk5d2xwg {background-color:#3778fc;}
#wa-container-wrapper-jc52u0hs5d2yo8 {background-color:#52c256;}
#wa-container-wrapper-jc52u0hu5d3dc0 {background-color:#0a5f97;}
#wa-row-jbzenf373fcm8>.wa-item-rowspacer {height:50px;}
#wa-row-jbzetjwx1qnu3c {margin:0px 0px;}
#wa-row-jbzetjwx1qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetqt01qnu3c {margin:0px 0px;}
#wa-row-jbzetqt01qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetqxg1qnu3c {margin:0px 0px;}
#wa-row-jbzetqxg1qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetzft2d109k {margin:0px 0px;}
#wa-row-jbzetzft2d109k>div {padding: 0px 0px;}
#wa-row-jbzewzkw5phvc0 {margin:0px 0px;}
#wa-row-jbzewzkw5phvc0>div {padding: 0px 0px;}
#wa-row-jbzexsdu7sk6aw {margin:0px 0px;}
#wa-row-jbzexsdu7sk6aw>div {padding: 0px 0px;}
#wa-row-jbzf0fu83jv3eg {margin:0px 0px;}
#wa-row-jbzf0fu83jv3eg>div {padding: 0px 0px;}
#wa-row-jbzf0gmq75mbc0 {margin:0px 0px;}
#wa-row-jbzf0gmq75mbc0>div {padding: 0px 0px;}
#wa-row-jbzf0gxj75m82o {margin:0px 0px;}
#wa-row-jbzf0gxj75m82o>div {padding: 0px 0px;}
#wa-row-jbzf0haa75maqo {margin:0px 0px;}
#wa-row-jbzf0haa75maqo>div {padding: 0px 0px;}
#wa-row-jbzf5icz7zwkzs {margin:0px 0px;}
#wa-row-jbzf5icz7zwkzs>div {padding: 0px 0px;}
#wa-row-jbzf9or37gid48 {margin:0px 0px;}
#wa-row-jbzf9or37gid48>div {padding: 0px 0px;}
#wa-row-jbzf9r013ndmwg>.wa-item-rowspacer {height:100px;}
#wa-row-jbzfd1m98kmusw {margin:0px 0px;}
#wa-row-jbzfd1m98kmusw>div {padding: 0px 0px;}
#wa-row-jbzfd1u18kmuy8 {margin:0px 0px;}
#wa-row-jbzfd1u18kmuy8>div {padding: 0px 0px;}
#wa-row-jbzfd22h8kmuy8 {margin:0px 0px;}
#wa-row-jbzfd22h8kmuy8>div {padding: 0px 0px;}
#wa-row-jbzflx3u7lfmjk {margin:0px 0px;}
#wa-row-jbzflx3u7lfmjk>div {padding: 0px 0px;}
#wa-row-jbzfnnx88nwjb4 {margin:0px 0px;}
#wa-row-jbzfnnx88nwjb4>div {padding: 0px 0px;}
#wa-row-jbzfnock8nwkcg {margin:0px 0px;}
#wa-row-jbzfnock8nwkcg>div {padding: 0px 0px;}
#wa-row-jbzfvpbt3okkm8>.wa-item-rowspacer {height:50px;}
#wa-row-jbzfy29d78vpww {margin:0px 0px;}
#wa-row-jbzfy29d78vpww>div {padding: 0px 0px;}
#wa-row-jbzfz2kg7cgyx4>.wa-item-rowspacer {height:100px;}
#wa-row-jbzfz6yw5n3ytk>.wa-item-rowspacer {height:100px;}
#wa-row-jbzg47vg7xrj9c {margin:0px 0px;}
#wa-row-jbzg47vg7xrj9c>div {padding: 0px 0px;}
#wa-row-jbzg5w6b88ab3s {margin:0px 0px;}
#wa-row-jbzg5w6b88ab3s>div {padding: 0px 0px;}
#wa-row-jbzg7eca7ch22w {margin:0px 0px;}
#wa-row-jbzg7eca7ch22w>div {padding: 0px 0px;}
#wa-row-jbzg7eca7ch2vc {margin:0px 0px;}
#wa-row-jbzg7eca7ch2vc>div {padding: 0px 0px;}
#wa-row-jbzg7i3e5p76sw {margin:0px 0px;}
#wa-row-jbzg7i3e5p76sw>div {padding: 0px 0px;}
#wa-row-jbzg7i3e5p773k {margin:0px 0px;}
#wa-row-jbzg7i3e5p773k>div {padding: 0px 0px;}
#wa-row-jbzgchzn3ndttc>.wa-item-rowspacer {height:50px;}
#wa-row-jbzgdkj578vots {margin:0px 0px;}
#wa-row-jbzgdkj578vots>div {padding: 0px 0px;}
#wa-row-jbzgdp1s78vpio {margin:0px 0px;}
#wa-row-jbzgdp1s78vpio>div {padding: 0px 0px;}
#wa-row-jbzgdqyk78vpm8 {margin:0px 0px;}
#wa-row-jbzgdqyk78vpm8>div {padding: 0px 0px;}
#wa-row-jbzggkbz8m3va0 {margin:0px 0px;}
#wa-row-jbzggkbz8m3va0>div {padding: 0px 0px;}
#wa-row-jbzggz5y76dr3s {margin:0px 0px;}
#wa-row-jbzggz5y76dr3s>div {padding: 0px 0px;}
#wa-row-jbzghnch1rjvow>.wa-item-rowspacer {height:30px;}
#wa-row-jbzgtsng5phwio>.wa-item-rowspacer {height:50px;}
#wa-row-jbzh55ikarnd2g {margin:0px 0px;}
#wa-row-jbzh55ikarnd2g>div {padding: 0px 0px;}
#wa-row-jbzh55pzarnijs {margin:0px 0px;}
#wa-row-jbzh55pzarnijs>div {padding: 0px 0px;}
#wa-row-jbzh55wvarnkrs {margin:0px 0px;}
#wa-row-jbzh55wvarnkrs>div {padding: 0px 0px;}
#wa-row-jbzi5uak7ce2aw>.wa-item-rowspacer {height:30px;}
#wa-row-jbzih02877q3u8>.wa-item-rowspacer {height:80px;}
#wa-row-jbzihh6w7jub40>.wa-item-rowspacer {height:80px;}
#wa-row-jc12gdp44iioow>.wa-item-rowspacer {height:50px;}
#wa-row-jc4urj332lukbk {margin:0px 0px;}
#wa-row-jc4urj332lukbk>div {padding: 0px 0px;}
#wa-row-jc4us19z548isg {margin:0px 0px;}
#wa-row-jc4us19z548isg>div {padding: 0px 0px;}
#wa-row-jc4us1mn548isg {margin:0px 0px;}
#wa-row-jc4us1mn548isg>div {padding: 0px 0px;}
#wa-row-jc4us2jb548k4g {margin:0px 0px;}
#wa-row-jc4us2jb548k4g>div {padding: 0px 0px;}
#wa-sub-container-jc52u0hi5d30zk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hi5d30zk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hi5d30zk>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hi5d342o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hi5d342o>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hi5d342o>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hi5d34ug {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hi5d34ug>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hi5d34ug>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hk5d2wcw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hk5d2wcw>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hk5d2wcw>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hl5d31rc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hl5d31rc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hl5d31rc>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hn5d35m8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hn5d35m8>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hn5d35m8>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hp5d2u1k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hp5d2u1k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hp5d2u1k>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hq5d375s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hq5d375s>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hq5d375s>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hs5d2vl4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hs5d2vl4>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hs5d2vl4>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0ht5d39h4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0ht5d39h4>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0ht5d39h4>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hu5d37xk {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 0px;border-style: solid;border-color:#0059ca;padding:0px 20px 0px 20px;}
#wa-sub-container-jc52u0hu5d37xk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hu5d37xk>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hu5d38pc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hu5d38pc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hu5d38pc>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hu5d3a8w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hu5d3a8w>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hu5d3a8w>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hu5d3b0o {border-radius:5px 5px 5px 5px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#e83b68;padding:0px 20px 0px 20px;}
#wa-sub-container-jc52u0hu5d3b0o>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hu5d3b0o>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hu5d3bsg {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 0px;border-style: solid;border-color:#109efc;padding:0px 20px 0px 20px;}
#wa-sub-container-jc52u0hu5d3bsg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hu5d3bsg>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0hu5d3evk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0hu5d3evk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0hu5d3evk>.wa-container-vspacer {height:0px;}
#wa-sub-container-jc52u0ia5d3fnc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jc52u0ia5d3fnc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jc52u0ia5d3fnc>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .dropdown-menu > li > a:hover, [id^=wa-compmenu-jbzi21vc7nhkhc] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:0px; border-radius:4px; min-height:51px;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-brand, [id^=wa-compmenu-jbzi21vc7nhkhc].navbar-nav li a, [id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav .open .dropdown-menu > li > a,[id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav .open .dropdown-menu li.dropdown-header {font-family:Open Sans, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:16px; color:#777777;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#333333;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav .open .dropdown-menu li.divider {background-color:#777777;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-nav > .open > a:focus {color:#777777; background-color:#ffffff;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#adadad !important;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-jbzi21vc7nhkhc].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .wa-brand-logo {padding-right:50px;}
[id^=wa-compmenu-jbzi21vc7nhkhc] .wa-srch-input {font-size:16px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-compbutton-jbzex1qy3jyqaw {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:auto;}
#wa-compbutton-jbzex1qy3jyqaw-halign {text-align:left;}
#wa-comptext-jbzetszr1tl7ko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;padding:10px 10px 10px 10px;}
#wa-row-jbzetjwx1qnu3c {margin:0px 0px;}
#wa-row-jbzetjwx1qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetqt01qnu3c {margin:0px 0px;}
#wa-row-jbzetqt01qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetqxg1qnu3c {margin:0px 0px;}
#wa-row-jbzetqxg1qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetzft2d109k {margin:0px 0px;}
#wa-row-jbzetzft2d109k>div {padding: 0px 0px;}
#wa-row-jbzewzkw5phvc0 {margin:0px 0px;}
#wa-row-jbzewzkw5phvc0>div {padding: 0px 0px;}
#wa-row-jbzexsdu7sk6aw {margin:0px 0px;}
#wa-row-jbzexsdu7sk6aw>div {padding: 0px 0px;}
#wa-row-jbzf0fu83jv3eg {margin:0px 0px;}
#wa-row-jbzf0fu83jv3eg>div {padding: 0px 0px;}
#wa-row-jbzf0gmq75mbc0 {margin:0px 0px;}
#wa-row-jbzf0gmq75mbc0>div {padding: 0px 0px;}
#wa-row-jbzf0gxj75m82o {margin:0px 0px;}
#wa-row-jbzf0gxj75m82o>div {padding: 0px 0px;}
#wa-row-jbzf0haa75maqo {margin:0px 0px;}
#wa-row-jbzf0haa75maqo>div {padding: 0px 0px;}
#wa-row-jbzf5icz7zwkzs {margin:0px 0px;}
#wa-row-jbzf5icz7zwkzs>div {padding: 0px 0px;}
#wa-row-jbzf9or37gid48 {margin:0px 0px;}
#wa-row-jbzf9or37gid48>div {padding: 0px 0px;}
#wa-row-jbzfd1m98kmusw {margin:0px 0px;}
#wa-row-jbzfd1m98kmusw>div {padding: 0px 0px;}
#wa-row-jbzfd1u18kmuy8 {margin:0px 0px;}
#wa-row-jbzfd1u18kmuy8>div {padding: 0px 0px;}
#wa-row-jbzfd22h8kmuy8 {margin:0px 0px;}
#wa-row-jbzfd22h8kmuy8>div {padding: 0px 0px;}
#wa-row-jbzflx3u7lfmjk {margin:0px 0px;}
#wa-row-jbzflx3u7lfmjk>div {padding: 0px 0px;}
#wa-row-jbzfnnx88nwjb4 {margin:0px 0px;}
#wa-row-jbzfnnx88nwjb4>div {padding: 0px 0px;}
#wa-row-jbzfnock8nwkcg {margin:0px 0px;}
#wa-row-jbzfnock8nwkcg>div {padding: 0px 0px;}
#wa-row-jbzfy29d78vpww {margin:0px 0px;}
#wa-row-jbzfy29d78vpww>div {padding: 0px 0px;}
#wa-row-jbzg47vg7xrj9c {margin:0px 0px;}
#wa-row-jbzg47vg7xrj9c>div {padding: 0px 0px;}
#wa-row-jbzg5w6b88ab3s {margin:0px 0px;}
#wa-row-jbzg5w6b88ab3s>div {padding: 0px 0px;}
#wa-row-jbzg7eca7ch22w {margin:0px 0px;}
#wa-row-jbzg7eca7ch22w>div {padding: 0px 0px;}
#wa-row-jbzg7eca7ch2vc {margin:0px 0px;}
#wa-row-jbzg7eca7ch2vc>div {padding: 0px 0px;}
#wa-row-jbzg7i3e5p76sw {margin:0px 0px;}
#wa-row-jbzg7i3e5p76sw>div {padding: 0px 0px;}
#wa-row-jbzg7i3e5p773k {margin:0px 0px;}
#wa-row-jbzg7i3e5p773k>div {padding: 0px 0px;}
#wa-row-jbzgdkj578vots {margin:0px 0px;}
#wa-row-jbzgdkj578vots>div {padding: 0px 0px;}
#wa-row-jbzgdp1s78vpio {margin:0px 0px;}
#wa-row-jbzgdp1s78vpio>div {padding: 0px 0px;}
#wa-row-jbzgdqyk78vpm8 {margin:0px 0px;}
#wa-row-jbzgdqyk78vpm8>div {padding: 0px 0px;}
#wa-row-jbzggkbz8m3va0 {margin:0px 0px;}
#wa-row-jbzggkbz8m3va0>div {padding: 0px 0px;}
#wa-row-jbzggz5y76dr3s {margin:0px 0px;}
#wa-row-jbzggz5y76dr3s>div {padding: 0px 0px;}
#wa-row-jbzh55ikarnd2g {margin:0px 0px;}
#wa-row-jbzh55ikarnd2g>div {padding: 0px 0px;}
#wa-row-jbzh55pzarnijs {margin:0px 0px;}
#wa-row-jbzh55pzarnijs>div {padding: 0px 0px;}
#wa-row-jbzh55wvarnkrs {margin:0px 0px;}
#wa-row-jbzh55wvarnkrs>div {padding: 0px 0px;}
#wa-row-jc4urj332lukbk {margin:0px 0px;}
#wa-row-jc4urj332lukbk>div {padding: 0px 0px;}
#wa-row-jc4us19z548isg {margin:0px 0px;}
#wa-row-jc4us19z548isg>div {padding: 0px 0px;}
#wa-row-jc4us1mn548isg {margin:0px 0px;}
#wa-row-jc4us1mn548isg>div {padding: 0px 0px;}
#wa-row-jc4us2jb548k4g {margin:0px 0px;}
#wa-row-jc4us2jb548k4g>div {padding: 0px 0px;}
#wa-sub-container-jc52u0hu5d3b0o {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 1px;}
}
@media (min-width: 992px){
#wa-compbutton-jbzex1qy3jyqaw {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:auto;}
#wa-compbutton-jbzex1qy3jyqaw-halign {text-align:left;}
#wa-comptext-jbzetszr1tl7ko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;padding:10px 10px 10px 10px;}
#wa-row-jbzetjwx1qnu3c {margin:0px 0px;}
#wa-row-jbzetjwx1qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetqt01qnu3c {margin:0px 0px;}
#wa-row-jbzetqt01qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetqxg1qnu3c {margin:0px 0px;}
#wa-row-jbzetqxg1qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetzft2d109k {margin:0px 0px;}
#wa-row-jbzetzft2d109k>div {padding: 0px 0px;}
#wa-row-jbzewzkw5phvc0 {margin:0px 0px;}
#wa-row-jbzewzkw5phvc0>div {padding: 0px 0px;}
#wa-row-jbzexsdu7sk6aw {margin:0px 0px;}
#wa-row-jbzexsdu7sk6aw>div {padding: 0px 0px;}
#wa-row-jbzf0fu83jv3eg {margin:0px 0px;}
#wa-row-jbzf0fu83jv3eg>div {padding: 0px 0px;}
#wa-row-jbzf0gmq75mbc0 {margin:0px 0px;}
#wa-row-jbzf0gmq75mbc0>div {padding: 0px 0px;}
#wa-row-jbzf0gxj75m82o {margin:0px 0px;}
#wa-row-jbzf0gxj75m82o>div {padding: 0px 0px;}
#wa-row-jbzf0haa75maqo {margin:0px 0px;}
#wa-row-jbzf0haa75maqo>div {padding: 0px 0px;}
#wa-row-jbzf5icz7zwkzs {margin:0px 0px;}
#wa-row-jbzf5icz7zwkzs>div {padding: 0px 0px;}
#wa-row-jbzf9or37gid48 {margin:0px 0px;}
#wa-row-jbzf9or37gid48>div {padding: 0px 0px;}
#wa-row-jbzfd1m98kmusw {margin:0px 0px;}
#wa-row-jbzfd1m98kmusw>div {padding: 0px 0px;}
#wa-row-jbzfd1u18kmuy8 {margin:0px 0px;}
#wa-row-jbzfd1u18kmuy8>div {padding: 0px 0px;}
#wa-row-jbzfd22h8kmuy8 {margin:0px 0px;}
#wa-row-jbzfd22h8kmuy8>div {padding: 0px 0px;}
#wa-row-jbzflx3u7lfmjk {margin:0px 0px;}
#wa-row-jbzflx3u7lfmjk>div {padding: 0px 0px;}
#wa-row-jbzfnnx88nwjb4 {margin:0px 0px;}
#wa-row-jbzfnnx88nwjb4>div {padding: 0px 0px;}
#wa-row-jbzfnock8nwkcg {margin:0px 0px;}
#wa-row-jbzfnock8nwkcg>div {padding: 0px 0px;}
#wa-row-jbzfy29d78vpww {margin:0px 0px;}
#wa-row-jbzfy29d78vpww>div {padding: 0px 0px;}
#wa-row-jbzg47vg7xrj9c {margin:0px 0px;}
#wa-row-jbzg47vg7xrj9c>div {padding: 0px 0px;}
#wa-row-jbzg5w6b88ab3s {margin:0px 0px;}
#wa-row-jbzg5w6b88ab3s>div {padding: 0px 0px;}
#wa-row-jbzg7eca7ch22w {margin:0px 0px;}
#wa-row-jbzg7eca7ch22w>div {padding: 0px 0px;}
#wa-row-jbzg7eca7ch2vc {margin:0px 0px;}
#wa-row-jbzg7eca7ch2vc>div {padding: 0px 0px;}
#wa-row-jbzg7i3e5p76sw {margin:0px 0px;}
#wa-row-jbzg7i3e5p76sw>div {padding: 0px 0px;}
#wa-row-jbzg7i3e5p773k {margin:0px 0px;}
#wa-row-jbzg7i3e5p773k>div {padding: 0px 0px;}
#wa-row-jbzgdkj578vots {margin:0px 0px;}
#wa-row-jbzgdkj578vots>div {padding: 0px 0px;}
#wa-row-jbzgdp1s78vpio {margin:0px 0px;}
#wa-row-jbzgdp1s78vpio>div {padding: 0px 0px;}
#wa-row-jbzgdqyk78vpm8 {margin:0px 0px;}
#wa-row-jbzgdqyk78vpm8>div {padding: 0px 0px;}
#wa-row-jbzggkbz8m3va0 {margin:0px 0px;}
#wa-row-jbzggkbz8m3va0>div {padding: 0px 0px;}
#wa-row-jbzggz5y76dr3s {margin:0px 0px;}
#wa-row-jbzggz5y76dr3s>div {padding: 0px 0px;}
#wa-row-jbzh55ikarnd2g {margin:0px 0px;}
#wa-row-jbzh55ikarnd2g>div {padding: 0px 0px;}
#wa-row-jbzh55pzarnijs {margin:0px 0px;}
#wa-row-jbzh55pzarnijs>div {padding: 0px 0px;}
#wa-row-jbzh55wvarnkrs {margin:0px 0px;}
#wa-row-jbzh55wvarnkrs>div {padding: 0px 0px;}
#wa-row-jc4urj332lukbk {margin:0px 0px;}
#wa-row-jc4urj332lukbk>div {padding: 0px 0px;}
#wa-row-jc4us19z548isg {margin:0px 0px;}
#wa-row-jc4us19z548isg>div {padding: 0px 0px;}
#wa-row-jc4us1mn548isg {margin:0px 0px;}
#wa-row-jc4us1mn548isg>div {padding: 0px 0px;}
#wa-row-jc4us2jb548k4g {margin:0px 0px;}
#wa-row-jc4us2jb548k4g>div {padding: 0px 0px;}
#wa-sub-container-jc52u0hu5d3b0o {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 1px;}
}
@media (min-width: 1200px){
#wa-compbutton-jbzex1qy3jyqaw {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:auto;}
#wa-compbutton-jbzex1qy3jyqaw-halign {text-align:left;}
#wa-comptext-jbzetszr1tl7ko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;padding:10px 10px 10px 10px;}
#wa-row-jbzetjwx1qnu3c {margin:0px 0px;}
#wa-row-jbzetjwx1qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetqt01qnu3c {margin:0px 0px;}
#wa-row-jbzetqt01qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetqxg1qnu3c {margin:0px 0px;}
#wa-row-jbzetqxg1qnu3c>div {padding: 0px 0px;}
#wa-row-jbzetzft2d109k {margin:0px 0px;}
#wa-row-jbzetzft2d109k>div {padding: 0px 0px;}
#wa-row-jbzewzkw5phvc0 {margin:0px 0px;}
#wa-row-jbzewzkw5phvc0>div {padding: 0px 0px;}
#wa-row-jbzexsdu7sk6aw {margin:0px 0px;}
#wa-row-jbzexsdu7sk6aw>div {padding: 0px 0px;}
#wa-row-jbzf0fu83jv3eg {margin:0px 0px;}
#wa-row-jbzf0fu83jv3eg>div {padding: 0px 0px;}
#wa-row-jbzf0gmq75mbc0 {margin:0px 0px;}
#wa-row-jbzf0gmq75mbc0>div {padding: 0px 0px;}
#wa-row-jbzf0gxj75m82o {margin:0px 0px;}
#wa-row-jbzf0gxj75m82o>div {padding: 0px 0px;}
#wa-row-jbzf0haa75maqo {margin:0px 0px;}
#wa-row-jbzf0haa75maqo>div {padding: 0px 0px;}
#wa-row-jbzf5icz7zwkzs {margin:0px 0px;}
#wa-row-jbzf5icz7zwkzs>div {padding: 0px 0px;}
#wa-row-jbzf9or37gid48 {margin:0px 0px;}
#wa-row-jbzf9or37gid48>div {padding: 0px 0px;}
#wa-row-jbzfd1m98kmusw {margin:0px 0px;}
#wa-row-jbzfd1m98kmusw>div {padding: 0px 0px;}
#wa-row-jbzfd1u18kmuy8 {margin:0px 0px;}
#wa-row-jbzfd1u18kmuy8>div {padding: 0px 0px;}
#wa-row-jbzfd22h8kmuy8 {margin:0px 0px;}
#wa-row-jbzfd22h8kmuy8>div {padding: 0px 0px;}
#wa-row-jbzflx3u7lfmjk {margin:0px 0px;}
#wa-row-jbzflx3u7lfmjk>div {padding: 0px 0px;}
#wa-row-jbzfnnx88nwjb4 {margin:0px 0px;}
#wa-row-jbzfnnx88nwjb4>div {padding: 0px 0px;}
#wa-row-jbzfnock8nwkcg {margin:0px 0px;}
#wa-row-jbzfnock8nwkcg>div {padding: 0px 0px;}
#wa-row-jbzfy29d78vpww {margin:0px 0px;}
#wa-row-jbzfy29d78vpww>div {padding: 0px 0px;}
#wa-row-jbzg47vg7xrj9c {margin:0px 0px;}
#wa-row-jbzg47vg7xrj9c>div {padding: 0px 0px;}
#wa-row-jbzg5w6b88ab3s {margin:0px 0px;}
#wa-row-jbzg5w6b88ab3s>div {padding: 0px 0px;}
#wa-row-jbzg7eca7ch22w {margin:0px 0px;}
#wa-row-jbzg7eca7ch22w>div {padding: 0px 0px;}
#wa-row-jbzg7eca7ch2vc {margin:0px 0px;}
#wa-row-jbzg7eca7ch2vc>div {padding: 0px 0px;}
#wa-row-jbzg7i3e5p76sw {margin:0px 0px;}
#wa-row-jbzg7i3e5p76sw>div {padding: 0px 0px;}
#wa-row-jbzg7i3e5p773k {margin:0px 0px;}
#wa-row-jbzg7i3e5p773k>div {padding: 0px 0px;}
#wa-row-jbzgdkj578vots {margin:0px 0px;}
#wa-row-jbzgdkj578vots>div {padding: 0px 0px;}
#wa-row-jbzgdp1s78vpio {margin:0px 0px;}
#wa-row-jbzgdp1s78vpio>div {padding: 0px 0px;}
#wa-row-jbzgdqyk78vpm8 {margin:0px 0px;}
#wa-row-jbzgdqyk78vpm8>div {padding: 0px 0px;}
#wa-row-jbzggkbz8m3va0 {margin:0px 0px;}
#wa-row-jbzggkbz8m3va0>div {padding: 0px 0px;}
#wa-row-jbzggz5y76dr3s {margin:0px 0px;}
#wa-row-jbzggz5y76dr3s>div {padding: 0px 0px;}
#wa-row-jbzh55ikarnd2g {margin:0px 0px;}
#wa-row-jbzh55ikarnd2g>div {padding: 0px 0px;}
#wa-row-jbzh55pzarnijs {margin:0px 0px;}
#wa-row-jbzh55pzarnijs>div {padding: 0px 0px;}
#wa-row-jbzh55wvarnkrs {margin:0px 0px;}
#wa-row-jbzh55wvarnkrs>div {padding: 0px 0px;}
#wa-row-jc4urj332lukbk {margin:0px 0px;}
#wa-row-jc4urj332lukbk>div {padding: 0px 0px;}
#wa-row-jc4us19z548isg {margin:0px 0px;}
#wa-row-jc4us19z548isg>div {padding: 0px 0px;}
#wa-row-jc4us1mn548isg {margin:0px 0px;}
#wa-row-jc4us1mn548isg>div {padding: 0px 0px;}
#wa-row-jc4us2jb548k4g {margin:0px 0px;}
#wa-row-jc4us2jb548k4g>div {padding: 0px 0px;}
#wa-sub-container-jc52u0hu5d3b0o {border-radius:0px 0px 0px 0px;border-width:1px 1px 1px 1px;}
}
