#wa-compbutton-jc3ff1iw7z390o {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#71c122; font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; border-color:rgba(46,109,164,0);}
#wa-compbutton-jc3ff1iw7z390o-halign {text-align:center;}
#wa-compbutton-jc3ff1iw7z390o:hover {background-color:#559119;}
#wa-compbutton-jcfc9w9x4nzjy8 {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#71c122; font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; border-color:rgba(46,109,164,0);}
#wa-compbutton-jcfc9w9x4nzjy8-halign {text-align:center;}
#wa-compbutton-jcfc9w9x4nzjy8:hover {background-color:#559119;}
#wa-compimage-jcf3d53i8kn0i0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#ffffff;}
#wa-compimage-padwrapper-jcf3d53i8kn0i0 {padding:0px 120px 0px 105px;}
#wa-comptext-jc3f5wml7odkbs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jc3fmd5k7zca54 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#ffffff;padding:0px 0px 0px 0px;}
#wa-comptext-jc3fx9at5fojmo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jc3g8cvw5fohrc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdar5tv4xyxzk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdar5tv4xz2z4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdar5tv4xz6ps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdar5tv4xze74 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdj7mpu5jk52g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcfc9w9x5w04e0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-jcfc9w9x5w0a00 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcfckv0l5qe880 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcgnszf85xhkfs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcgnszf85xhl28 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jc3fmd5k7zca54 {padding:0px 15px 0px 0px;}
#wa-comptext-padwrapper-jcfc9w9x5w04e0 {padding:0px 15px 0px 0px;}
#wa-container-jcjcqgha5drn68 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcqgha5drn68>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcqgha5drn68>.wa-container-vspacer {height:0px;}
#wa-container-jcjcqghd5drkuw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcqghd5drkuw>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcqghd5drkuw>.wa-container-vspacer {height:0px;}
#wa-container-jcjcqghe5drlmo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcqghe5drlmo>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcqghe5drlmo>.wa-container-vspacer {height:0px;}
#wa-container-jcjcqghg5drh00 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcqghg5drh00>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcqghg5drh00>.wa-container-vspacer {height:0px;}
#wa-container-jcjcqghg5drphk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcqghg5drphk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcqghg5drphk>.wa-container-vspacer {height:0px;}
#wa-container-jcjcqghh5dreoo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcqghh5dreoo>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcqghh5dreoo>.wa-container-vspacer {height:0px;}
#wa-container-jcjcqgho5drrsw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcqgho5drrsw>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcqgho5drrsw>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-jcjcqgha5drn68 {background-color:rgba(199,199,199,0.258824);}
#wa-container-wrapper-jcjcqghe5drlmo {background-color:#338cfd;}
#wa-container-wrapper-jcjcqgho5drrsw {background-color:rgba(173,173,173,0.180392);}
#wa-row-jc3f5cas9ih6w>.wa-item-rowspacer {height:80px;}
#wa-row-jc3f5wml2gq920>.wa-item-rowspacer {height:60px;}
#wa-row-jc3f5wml2gqac8 {margin:0px 0px;}
#wa-row-jc3f5wml2gqac8>div {padding: 0px 0px;}
#wa-row-jc3f5wml2gqafs>.wa-item-rowspacer {height:60px;}
#wa-row-jc3fehtr7ml10o {margin:0px 0px;}
#wa-row-jc3fehtr7ml10o>div {padding: 0px 0px;}
#wa-row-jc3feiva7ml0vc {margin:0px 0px;}
#wa-row-jc3feiva7ml0vc>div {padding: 0px 0px;}
#wa-row-jc3ff0kn7yy974 {margin:0px 0px;}
#wa-row-jc3ff0kn7yy974>div {padding: 0px 0px;}
#wa-row-jc3flsjh2gqe6w {margin:0px 0px;}
#wa-row-jc3flsjh2gqe6w>div {padding: 0px 0px;}
#wa-row-jc3fo4y41w3y14>.wa-item-rowspacer {height:30px;}
#wa-row-jc3focqs7yyr68>.wa-item-rowspacer {height:30px;}
#wa-row-jc3fu93n4bpbns>.wa-item-rowspacer {height:150px;}
#wa-row-jc3fx6mz4kbrkw {margin:0px 0px;}
#wa-row-jc3fx6mz4kbrkw>div {padding: 0px 0px;}
#wa-row-jc3g72xd7aon9c>.wa-item-rowspacer {height:100px;}
#wa-row-jc3g86pl4htkm8 {margin:0px 0px;}
#wa-row-jc3g86pl4htkm8>div {padding: 0px 0px;}
#wa-row-jc3gahyo82ivc0>.wa-item-rowspacer {height:50px;}
#wa-row-jc51ubtr4qqb2w>.wa-item-rowspacer {height:30px;}
#wa-row-jc51ubtr4qqcd4 {margin:0px 0px;}
#wa-row-jc51ubtr4qqcd4>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivnl4 {margin:0px 0px;}
#wa-row-jcdar5tv5ivnl4>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivo2w>.wa-item-rowspacer {height:80px;}
#wa-row-jcdar5tv5ivo6g {margin:0px 0px;}
#wa-row-jcdar5tv5ivo6g>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivodk {margin:0px 0px;}
#wa-row-jcdar5tv5ivodk>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivors {margin:0px 0px;}
#wa-row-jcdar5tv5ivors>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivoyw>.wa-item-rowspacer {height:80px;}
#wa-row-jcdar5tv5ivpgo {margin:0px 0px;}
#wa-row-jcdar5tv5ivpgo>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivprc {margin:0px 0px;}
#wa-row-jcdar5tv5ivprc>div {padding: 0px 0px;}
#wa-row-jcf3d4ml7bzx2o {margin:0px 0px;}
#wa-row-jcf3d4ml7bzx2o>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2dq8 {margin:0px 0px;}
#wa-row-jcfc9w9x4o2dq8>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2eio>.wa-item-rowspacer {height:100px;}
#wa-row-jcfc9w9x4o2m4g {margin:0px 0px;}
#wa-row-jcfc9w9x4o2m4g>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2n40 {margin:0px 0px;}
#wa-row-jcfc9w9x4o2n40>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2npc>.wa-item-rowspacer {height:30px;}
#wa-row-jcfc9w9x4o2nsw>.wa-item-rowspacer {height:30px;}
#wa-row-jcgnszf84r9wm8 {margin:0px 0px;}
#wa-row-jcgnszf84r9wm8>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9y00 {margin:0px 0px;}
#wa-row-jcgnszf84r9y00>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9yao {margin:0px 0px;}
#wa-row-jcgnszf84r9yao>div {padding: 0px 0px;}
#wa-sub-container-jcjcqgha5drdww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcqgha5drdww>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcqgha5drdww>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcqghc5drmeg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcqghc5drmeg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcqghc5drmeg>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcqghi5drfgg {border-radius:0px 0px 0px 0px;border-width:0px 15px 0px 15px;border-style: solid;border-color:#ffffff;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcqghi5drfgg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcqghi5drfgg>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcqghl5drsko {border-radius:0px 0px 0px 0px;border-width:0px 15px 0px 15px;border-style: solid;border-color:#ffffff;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcqghl5drsko>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcqghl5drsko>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcqgho5drtcg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcqgho5drtcg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcqgho5drtcg>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcqghp5drijk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcqghp5drijk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcqghp5drijk>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcqghq5drhrs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcqghq5drhrs>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcqghq5drhrs>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcqghr5dru48 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcqghr5dru48>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcqghr5dru48>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .dropdown-menu > li > a:hover, [id^=wa-compmenu-jc51ubtr5o0ds8] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:0px; border-radius:4px; min-height:51px;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-brand, [id^=wa-compmenu-jc51ubtr5o0ds8].navbar-nav li a, [id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav .open .dropdown-menu > li > a,[id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav .open .dropdown-menu li.dropdown-header {font-family:Open Sans, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:16px; color:#777777;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#333333;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav .open .dropdown-menu li.divider {background-color:#777777;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-nav > .open > a:focus {color:#777777; background-color:#ffffff;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#adadad !important;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-jc51ubtr5o0ds8].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .wa-brand-logo {padding-right:50px;}
[id^=wa-compmenu-jc51ubtr5o0ds8] .wa-srch-input {font-size:16px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jc3f5wml2gqac8 {margin:0px 0px;}
#wa-row-jc3f5wml2gqac8>div {padding: 0px 0px;}
#wa-row-jc3fehtr7ml10o {margin:0px 0px;}
#wa-row-jc3fehtr7ml10o>div {padding: 0px 0px;}
#wa-row-jc3feiva7ml0vc {margin:0px 0px;}
#wa-row-jc3feiva7ml0vc>div {padding: 0px 0px;}
#wa-row-jc3ff0kn7yy974 {margin:0px 0px;}
#wa-row-jc3ff0kn7yy974>div {padding: 0px 0px;}
#wa-row-jc3flsjh2gqe6w {margin:0px 0px;}
#wa-row-jc3flsjh2gqe6w>div {padding: 0px 0px;}
#wa-row-jc3fx6mz4kbrkw {margin:0px 0px;}
#wa-row-jc3fx6mz4kbrkw>div {padding: 0px 0px;}
#wa-row-jc3g86pl4htkm8 {margin:0px 0px;}
#wa-row-jc3g86pl4htkm8>div {padding: 0px 0px;}
#wa-row-jc51ubtr4qqcd4 {margin:0px 0px;}
#wa-row-jc51ubtr4qqcd4>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivnl4 {margin:0px 0px;}
#wa-row-jcdar5tv5ivnl4>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivo6g {margin:0px 0px;}
#wa-row-jcdar5tv5ivo6g>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivodk {margin:0px 0px;}
#wa-row-jcdar5tv5ivodk>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivors {margin:0px 0px;}
#wa-row-jcdar5tv5ivors>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivpgo {margin:0px 0px;}
#wa-row-jcdar5tv5ivpgo>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivprc {margin:0px 0px;}
#wa-row-jcdar5tv5ivprc>div {padding: 0px 0px;}
#wa-row-jcf3d4ml7bzx2o {margin:0px 0px;}
#wa-row-jcf3d4ml7bzx2o>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2dq8 {margin:0px 0px;}
#wa-row-jcfc9w9x4o2dq8>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2m4g {margin:0px 0px;}
#wa-row-jcfc9w9x4o2m4g>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2n40 {margin:0px 0px;}
#wa-row-jcfc9w9x4o2n40>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9wm8 {margin:0px 0px;}
#wa-row-jcgnszf84r9wm8>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9y00 {margin:0px 0px;}
#wa-row-jcgnszf84r9y00>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9yao {margin:0px 0px;}
#wa-row-jcgnszf84r9yao>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jc3f5wml2gqac8 {margin:0px 0px;}
#wa-row-jc3f5wml2gqac8>div {padding: 0px 0px;}
#wa-row-jc3fehtr7ml10o {margin:0px 0px;}
#wa-row-jc3fehtr7ml10o>div {padding: 0px 0px;}
#wa-row-jc3feiva7ml0vc {margin:0px 0px;}
#wa-row-jc3feiva7ml0vc>div {padding: 0px 0px;}
#wa-row-jc3ff0kn7yy974 {margin:0px 0px;}
#wa-row-jc3ff0kn7yy974>div {padding: 0px 0px;}
#wa-row-jc3flsjh2gqe6w {margin:0px 0px;}
#wa-row-jc3flsjh2gqe6w>div {padding: 0px 0px;}
#wa-row-jc3fx6mz4kbrkw {margin:0px 0px;}
#wa-row-jc3fx6mz4kbrkw>div {padding: 0px 0px;}
#wa-row-jc3g86pl4htkm8 {margin:0px 0px;}
#wa-row-jc3g86pl4htkm8>div {padding: 0px 0px;}
#wa-row-jc51ubtr4qqcd4 {margin:0px 0px;}
#wa-row-jc51ubtr4qqcd4>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivnl4 {margin:0px 0px;}
#wa-row-jcdar5tv5ivnl4>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivo6g {margin:0px 0px;}
#wa-row-jcdar5tv5ivo6g>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivodk {margin:0px 0px;}
#wa-row-jcdar5tv5ivodk>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivors {margin:0px 0px;}
#wa-row-jcdar5tv5ivors>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivpgo {margin:0px 0px;}
#wa-row-jcdar5tv5ivpgo>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivprc {margin:0px 0px;}
#wa-row-jcdar5tv5ivprc>div {padding: 0px 0px;}
#wa-row-jcf3d4ml7bzx2o {margin:0px 0px;}
#wa-row-jcf3d4ml7bzx2o>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2dq8 {margin:0px 0px;}
#wa-row-jcfc9w9x4o2dq8>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2m4g {margin:0px 0px;}
#wa-row-jcfc9w9x4o2m4g>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2n40 {margin:0px 0px;}
#wa-row-jcfc9w9x4o2n40>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9wm8 {margin:0px 0px;}
#wa-row-jcgnszf84r9wm8>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9y00 {margin:0px 0px;}
#wa-row-jcgnszf84r9y00>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9yao {margin:0px 0px;}
#wa-row-jcgnszf84r9yao>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jc3f5wml2gqac8 {margin:0px 0px;}
#wa-row-jc3f5wml2gqac8>div {padding: 0px 0px;}
#wa-row-jc3fehtr7ml10o {margin:0px 0px;}
#wa-row-jc3fehtr7ml10o>div {padding: 0px 0px;}
#wa-row-jc3feiva7ml0vc {margin:0px 0px;}
#wa-row-jc3feiva7ml0vc>div {padding: 0px 0px;}
#wa-row-jc3ff0kn7yy974 {margin:0px 0px;}
#wa-row-jc3ff0kn7yy974>div {padding: 0px 0px;}
#wa-row-jc3flsjh2gqe6w {margin:0px 0px;}
#wa-row-jc3flsjh2gqe6w>div {padding: 0px 0px;}
#wa-row-jc3fx6mz4kbrkw {margin:0px 0px;}
#wa-row-jc3fx6mz4kbrkw>div {padding: 0px 0px;}
#wa-row-jc3g86pl4htkm8 {margin:0px 0px;}
#wa-row-jc3g86pl4htkm8>div {padding: 0px 0px;}
#wa-row-jc51ubtr4qqcd4 {margin:0px 0px;}
#wa-row-jc51ubtr4qqcd4>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivnl4 {margin:0px 0px;}
#wa-row-jcdar5tv5ivnl4>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivo6g {margin:0px 0px;}
#wa-row-jcdar5tv5ivo6g>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivodk {margin:0px 0px;}
#wa-row-jcdar5tv5ivodk>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivors {margin:0px 0px;}
#wa-row-jcdar5tv5ivors>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivpgo {margin:0px 0px;}
#wa-row-jcdar5tv5ivpgo>div {padding: 0px 0px;}
#wa-row-jcdar5tv5ivprc {margin:0px 0px;}
#wa-row-jcdar5tv5ivprc>div {padding: 0px 0px;}
#wa-row-jcf3d4ml7bzx2o {margin:0px 0px;}
#wa-row-jcf3d4ml7bzx2o>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2dq8 {margin:0px 0px;}
#wa-row-jcfc9w9x4o2dq8>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2m4g {margin:0px 0px;}
#wa-row-jcfc9w9x4o2m4g>div {padding: 0px 0px;}
#wa-row-jcfc9w9x4o2n40 {margin:0px 0px;}
#wa-row-jcfc9w9x4o2n40>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9wm8 {margin:0px 0px;}
#wa-row-jcgnszf84r9wm8>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9y00 {margin:0px 0px;}
#wa-row-jcgnszf84r9y00>div {padding: 0px 0px;}
#wa-row-jcgnszf84r9yao {margin:0px 0px;}
#wa-row-jcgnszf84r9yao>div {padding: 0px 0px;}
}
