#wa-compbutton-jbzox5pa7pdfx4 {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#903279; border-color:rgba(46,109,164,0);}
#wa-compbutton-jbzox5pa7pdfx4:hover {background-color:#91233a;}
#wa-compbutton-jbzoxv0l3iq2dk {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#f69a15; border-color:rgba(46,109,164,0);}
#wa-compbutton-jbzoxv0l3iq2dk:hover {background-color:#f66117;}
#wa-compbutton-jbzoxw223iyenk {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#54c120; border-color:rgba(46,109,164,0);}
#wa-compbutton-jbzoxw223iyenk:hover {background-color:#3f9118;}
#wa-compbutton-padwrapper-jbzox5pa7pdfx4 {padding:0px 5px 0px 5px;}
#wa-compbutton-padwrapper-jbzoxv0l3iq2dk {padding:0px 5px 0px 5px;}
#wa-compbutton-padwrapper-jbzoxw223iyenk {padding:0px 5px 0px 5px;}
#wa-compimage-jcf3djwk2xauko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#ffffff;}
#wa-compimage-padwrapper-jcf3djwk2xauko {padding:0px 120px 0px 120px;}
#wa-comptext-jbzoizca7pkmjc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzokqyp7wfvq0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzom3y57pl1i0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 10px 0px 10px;}
#wa-comptext-jbzomzs27wf31k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 10px 0px 10px;}
#wa-comptext-jbzon3fw7wffig {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 10px 0px 10px;}
#wa-comptext-jbzoogrq7wfqqg {background-color:#903279;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 10px 10px 10px;}
#wa-comptext-jbzopisr7wfgrc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzoqqd07wf8nk {background-color:#f69a15;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 10px 10px 10px;}
#wa-comptext-jbzor6y87wfhds {background-color:#54c120;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 10px 10px 10px;}
#wa-comptext-jbzouk5n9u3908 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzoului9u3bi0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jbzovxzd7pkte8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jc3hvvzd6uegaw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jc3hw2zy2dpz80 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdarw757k5wi8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdarw757k5zmg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdarw757k63zk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdarw757k66hc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcdj8ehub7h7n4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcgntqrs2ooek0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jcgntqrs5vakls {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jcjcotj05bqw68 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcotj05bqw68>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcotj05bqw68>.wa-container-vspacer {height:0px;}
#wa-container-jcjcotj25bqwy0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcotj25bqwy0>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcotj25bqwy0>.wa-container-vspacer {height:0px;}
#wa-container-jcjcotj45br2cg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcotj45br2cg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcotj45br2cg>.wa-container-vspacer {height:0px;}
#wa-container-jcjcotj55bqtuw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcotj55bqtuw>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcotj55bqtuw>.wa-container-vspacer {height:0px;}
#wa-container-jcjcotj65bqqrs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcotj65bqqrs>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcotj65bqqrs>.wa-container-vspacer {height:0px;}
#wa-container-jcjcotjm5bqyhk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jcjcotjm5bqyhk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jcjcotjm5bqyhk>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-jcjcotj05bqw68 {background-color:rgba(199,199,199,0.258824);}
#wa-container-wrapper-jcjcotj45br2cg {background-color:#3978fc;}
#wa-container-wrapper-jcjcotjm5bqyhk {background-color:rgba(173,173,173,0.180392);}
#wa-row-jbzoiawiarnqzs {margin:0px 0px;}
#wa-row-jbzoiawiarnqzs>div {padding: 0px 0px;}
#wa-row-jbzojt567zwl3c>.wa-item-rowspacer {height:50px;}
#wa-row-jbzojx8x7zwlhk>.wa-item-rowspacer {height:50px;}
#wa-row-jbzok1f5arjpyg {margin:0px 0px;}
#wa-row-jbzok1f5arjpyg>div {padding: 0px 0px;}
#wa-row-jbzoln0carmxt4 {margin:0px 0px;}
#wa-row-jbzoln0carmxt4>div {padding: 0px 0px;}
#wa-row-jbzolo7aarmueg {margin:0px 0px;}
#wa-row-jbzolo7aarmueg>div {padding: 0px 0px;}
#wa-row-jbzoloc1armwbs {margin:0px 0px;}
#wa-row-jbzoloc1armwbs>div {padding: 0px 0px;}
#wa-row-jbzologxarmw14 {margin:0px 0px;}
#wa-row-jbzologxarmw14>div {padding: 0px 0px;}
#wa-row-jbzom9jt7jubb4>.wa-item-rowspacer {height:50px;}
#wa-row-jbzombnc7judz4>.wa-item-rowspacer {height:100px;}
#wa-row-jbzoofqs9r4sao {margin:0px 0px;}
#wa-row-jbzoofqs9r4sao>div {padding: 0px 0px;}
#wa-row-jbzopho35phvq8 {margin:0px 0px;}
#wa-row-jbzopho35phvq8>div {padding: 0px 0px;}
#wa-row-jbzoqqd07zwlzc {margin:0px 0px;}
#wa-row-jbzoqqd07zwlzc>div {padding: 0px 0px;}
#wa-row-jbzoqwqm7zwloo {margin:0px 0px;}
#wa-row-jbzoqwqm7zwloo>div {padding: 0px 0px;}
#wa-row-jbzor6m35n3w20 {margin:0px 0px;}
#wa-row-jbzor6m35n3w20>div {padding: 0px 0px;}
#wa-row-jbzor9un7ch1oo {margin:0px 0px;}
#wa-row-jbzor9un7ch1oo>div {padding: 0px 0px;}
#wa-row-jbzorywu5n3wco>.wa-item-rowspacer {height:20px;}
#wa-row-jbzos2fy5n3wnc>.wa-item-rowspacer {height:20px;}
#wa-row-jbzos4cu5n3x8o>.wa-item-rowspacer {height:20px;}
#wa-row-jbzoufk25m5ubc {margin:0px 0px;}
#wa-row-jbzoufk25m5ubc>div {padding: 0px 0px;}
#wa-row-jbzouhq45m5zco {margin:0px 0px;}
#wa-row-jbzouhq45m5zco>div {padding: 0px 0px;}
#wa-row-jbzouira5m5xa0 {margin:0px 0px;}
#wa-row-jbzouira5m5xa0>div {padding: 0px 0px;}
#wa-row-jbzowddm7tab40 {margin:0px 0px;}
#wa-row-jbzowddm7tab40>div {padding: 0px 0px;}
#wa-row-jbzown778eg11c {margin:0px 0px;}
#wa-row-jbzown778eg11c>div {padding: 0px 0px;}
#wa-row-jbzowxyb9r4y4g {margin:0px 0px;}
#wa-row-jbzowxyb9r4y4g>div {padding: 0px 0px;}
#wa-row-jbzoy9tn871ngg>.wa-item-rowspacer {height:200px;}
#wa-row-jc51vigu2pktkw {margin:0px 0px;}
#wa-row-jc51vigu2pktkw>div {padding: 0px 0px;}
#wa-row-jc51vigu2pkvuo>.wa-item-rowspacer {height:30px;}
#wa-row-jc51vnrd4bzvlc>.wa-item-rowspacer {height:30px;}
#wa-row-jcdarw7561gzk0 {margin:0px 0px;}
#wa-row-jcdarw7561gzk0>div {padding: 0px 0px;}
#wa-row-jcdarw7561gznk {margin:0px 0px;}
#wa-row-jcdarw7561gznk>div {padding: 0px 0px;}
#wa-row-jcdarw7561gzr4 {margin:0px 0px;}
#wa-row-jcdarw7561gzr4>div {padding: 0px 0px;}
#wa-row-jcdarw7561h11c>.wa-item-rowspacer {height:80px;}
#wa-row-jcdarw7561h14w {margin:0px 0px;}
#wa-row-jcdarw7561h14w>div {padding: 0px 0px;}
#wa-row-jcdarw7561h1j4 {margin:0px 0px;}
#wa-row-jcdarw7561h1j4>div {padding: 0px 0px;}
#wa-row-jcdarw7561h280>.wa-item-rowspacer {height:80px;}
#wa-row-jcdarw7561h2io {margin:0px 0px;}
#wa-row-jcdarw7561h2io>div {padding: 0px 0px;}
#wa-row-jcf3djdt7daayo {margin:0px 0px;}
#wa-row-jcf3djdt7daayo>div {padding: 0px 0px;}
#wa-row-jcf4pnxl5784cw>.wa-item-rowspacer {height:50px;}
#wa-row-jcf4pxzt5h8w4g>.wa-item-rowspacer {height:50px;}
#wa-row-jcgntqrs4o3aeo {margin:0px 0px;}
#wa-row-jcgntqrs4o3aeo>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3asw {margin:0px 0px;}
#wa-row-jcgntqrs4o3asw>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3b00 {margin:0px 0px;}
#wa-row-jcgntqrs4o3b00>div {padding: 0px 0px;}
#wa-sub-container-jcjcotj05bqt34 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcotj05bqt34>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcotj05bqt34>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcotj15bqz9c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcotj15bqz9c>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcotj15bqz9c>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcotj65bqxps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcotj65bqxps>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcotj65bqxps>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcotjb5br014 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 5px 0px 5px;}
#wa-sub-container-jcjcotjb5br014>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcotjb5br014>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcotjg5bqsbc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 5px;}
#wa-sub-container-jcjcotjg5bqsbc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcotjg5bqsbc>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcotjm5br0sw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcotjm5br0sw>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcotjm5br0sw>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcotjn5br1ko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcotjn5br1ko>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcotjn5br1ko>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcotjo5br348 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcotjo5br348>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcotjo5br348>.wa-container-vspacer {height:0px;}
#wa-sub-container-jcjcotjp5bqrjk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jcjcotjp5bqrjk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jcjcotjp5bqrjk>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-jc51vigu5qk6hs] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-jc51vigu5qk6hs] .dropdown-menu > li > a:hover, [id^=wa-compmenu-jc51vigu5qk6hs] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:0px; border-radius:4px; min-height:51px;}
[id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-brand, [id^=wa-compmenu-jc51vigu5qk6hs].navbar-nav li a, [id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav .open .dropdown-menu > li > a,[id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav .open .dropdown-menu li.dropdown-header {font-family:Open Sans, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:16px; color:#777777;}
[id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#333333;}
[id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav .open .dropdown-menu li.divider {background-color:#777777;}
[id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-nav > .open > a:focus {color:#777777; background-color:#ffffff;}
[id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#adadad !important;}
[id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-jc51vigu5qk6hs] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-jc51vigu5qk6hs].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-jc51vigu5qk6hs] .wa-brand-logo {padding-right:50px;}
[id^=wa-compmenu-jc51vigu5qk6hs] .wa-srch-input {font-size:16px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jbzoiawiarnqzs {margin:0px 0px;}
#wa-row-jbzoiawiarnqzs>div {padding: 0px 0px;}
#wa-row-jbzok1f5arjpyg {margin:0px 0px;}
#wa-row-jbzok1f5arjpyg>div {padding: 0px 0px;}
#wa-row-jbzoln0carmxt4 {margin:0px 0px;}
#wa-row-jbzoln0carmxt4>div {padding: 0px 0px;}
#wa-row-jbzolo7aarmueg {margin:0px 0px;}
#wa-row-jbzolo7aarmueg>div {padding: 0px 0px;}
#wa-row-jbzoloc1armwbs {margin:0px 0px;}
#wa-row-jbzoloc1armwbs>div {padding: 0px 0px;}
#wa-row-jbzologxarmw14 {margin:0px 0px;}
#wa-row-jbzologxarmw14>div {padding: 0px 0px;}
#wa-row-jbzoofqs9r4sao {margin:0px 0px;}
#wa-row-jbzoofqs9r4sao>div {padding: 0px 0px;}
#wa-row-jbzopho35phvq8 {margin:0px 0px;}
#wa-row-jbzopho35phvq8>div {padding: 0px 0px;}
#wa-row-jbzoqqd07zwlzc {margin:0px 0px;}
#wa-row-jbzoqqd07zwlzc>div {padding: 0px 0px;}
#wa-row-jbzoqwqm7zwloo {margin:0px 0px;}
#wa-row-jbzoqwqm7zwloo>div {padding: 0px 0px;}
#wa-row-jbzor6m35n3w20 {margin:0px 0px;}
#wa-row-jbzor6m35n3w20>div {padding: 0px 0px;}
#wa-row-jbzor9un7ch1oo {margin:0px 0px;}
#wa-row-jbzor9un7ch1oo>div {padding: 0px 0px;}
#wa-row-jbzoufk25m5ubc {margin:0px 0px;}
#wa-row-jbzoufk25m5ubc>div {padding: 0px 0px;}
#wa-row-jbzouhq45m5zco {margin:0px 0px;}
#wa-row-jbzouhq45m5zco>div {padding: 0px 0px;}
#wa-row-jbzouira5m5xa0 {margin:0px 0px;}
#wa-row-jbzouira5m5xa0>div {padding: 0px 0px;}
#wa-row-jbzowddm7tab40 {margin:0px 0px;}
#wa-row-jbzowddm7tab40>div {padding: 0px 0px;}
#wa-row-jbzown778eg11c {margin:0px 0px;}
#wa-row-jbzown778eg11c>div {padding: 0px 0px;}
#wa-row-jbzowxyb9r4y4g {margin:0px 0px;}
#wa-row-jbzowxyb9r4y4g>div {padding: 0px 0px;}
#wa-row-jc51vigu2pktkw {margin:0px 0px;}
#wa-row-jc51vigu2pktkw>div {padding: 0px 0px;}
#wa-row-jcdarw7561gzk0 {margin:0px 0px;}
#wa-row-jcdarw7561gzk0>div {padding: 0px 0px;}
#wa-row-jcdarw7561gznk {margin:0px 0px;}
#wa-row-jcdarw7561gznk>div {padding: 0px 0px;}
#wa-row-jcdarw7561gzr4 {margin:0px 0px;}
#wa-row-jcdarw7561gzr4>div {padding: 0px 0px;}
#wa-row-jcdarw7561h14w {margin:0px 0px;}
#wa-row-jcdarw7561h14w>div {padding: 0px 0px;}
#wa-row-jcdarw7561h1j4 {margin:0px 0px;}
#wa-row-jcdarw7561h1j4>div {padding: 0px 0px;}
#wa-row-jcdarw7561h2io {margin:0px 0px;}
#wa-row-jcdarw7561h2io>div {padding: 0px 0px;}
#wa-row-jcf3djdt7daayo {margin:0px 0px;}
#wa-row-jcf3djdt7daayo>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3aeo {margin:0px 0px;}
#wa-row-jcgntqrs4o3aeo>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3asw {margin:0px 0px;}
#wa-row-jcgntqrs4o3asw>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3b00 {margin:0px 0px;}
#wa-row-jcgntqrs4o3b00>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jbzoiawiarnqzs {margin:0px 0px;}
#wa-row-jbzoiawiarnqzs>div {padding: 0px 0px;}
#wa-row-jbzok1f5arjpyg {margin:0px 0px;}
#wa-row-jbzok1f5arjpyg>div {padding: 0px 0px;}
#wa-row-jbzoln0carmxt4 {margin:0px 0px;}
#wa-row-jbzoln0carmxt4>div {padding: 0px 0px;}
#wa-row-jbzolo7aarmueg {margin:0px 0px;}
#wa-row-jbzolo7aarmueg>div {padding: 0px 0px;}
#wa-row-jbzoloc1armwbs {margin:0px 0px;}
#wa-row-jbzoloc1armwbs>div {padding: 0px 0px;}
#wa-row-jbzologxarmw14 {margin:0px 0px;}
#wa-row-jbzologxarmw14>div {padding: 0px 0px;}
#wa-row-jbzoofqs9r4sao {margin:0px 0px;}
#wa-row-jbzoofqs9r4sao>div {padding: 0px 0px;}
#wa-row-jbzopho35phvq8 {margin:0px 0px;}
#wa-row-jbzopho35phvq8>div {padding: 0px 0px;}
#wa-row-jbzoqqd07zwlzc {margin:0px 0px;}
#wa-row-jbzoqqd07zwlzc>div {padding: 0px 0px;}
#wa-row-jbzoqwqm7zwloo {margin:0px 0px;}
#wa-row-jbzoqwqm7zwloo>div {padding: 0px 0px;}
#wa-row-jbzor6m35n3w20 {margin:0px 0px;}
#wa-row-jbzor6m35n3w20>div {padding: 0px 0px;}
#wa-row-jbzor9un7ch1oo {margin:0px 0px;}
#wa-row-jbzor9un7ch1oo>div {padding: 0px 0px;}
#wa-row-jbzoufk25m5ubc {margin:0px 0px;}
#wa-row-jbzoufk25m5ubc>div {padding: 0px 0px;}
#wa-row-jbzouhq45m5zco {margin:0px 0px;}
#wa-row-jbzouhq45m5zco>div {padding: 0px 0px;}
#wa-row-jbzouira5m5xa0 {margin:0px 0px;}
#wa-row-jbzouira5m5xa0>div {padding: 0px 0px;}
#wa-row-jbzowddm7tab40 {margin:0px 0px;}
#wa-row-jbzowddm7tab40>div {padding: 0px 0px;}
#wa-row-jbzown778eg11c {margin:0px 0px;}
#wa-row-jbzown778eg11c>div {padding: 0px 0px;}
#wa-row-jbzowxyb9r4y4g {margin:0px 0px;}
#wa-row-jbzowxyb9r4y4g>div {padding: 0px 0px;}
#wa-row-jc51vigu2pktkw {margin:0px 0px;}
#wa-row-jc51vigu2pktkw>div {padding: 0px 0px;}
#wa-row-jcdarw7561gzk0 {margin:0px 0px;}
#wa-row-jcdarw7561gzk0>div {padding: 0px 0px;}
#wa-row-jcdarw7561gznk {margin:0px 0px;}
#wa-row-jcdarw7561gznk>div {padding: 0px 0px;}
#wa-row-jcdarw7561gzr4 {margin:0px 0px;}
#wa-row-jcdarw7561gzr4>div {padding: 0px 0px;}
#wa-row-jcdarw7561h14w {margin:0px 0px;}
#wa-row-jcdarw7561h14w>div {padding: 0px 0px;}
#wa-row-jcdarw7561h1j4 {margin:0px 0px;}
#wa-row-jcdarw7561h1j4>div {padding: 0px 0px;}
#wa-row-jcdarw7561h2io {margin:0px 0px;}
#wa-row-jcdarw7561h2io>div {padding: 0px 0px;}
#wa-row-jcf3djdt7daayo {margin:0px 0px;}
#wa-row-jcf3djdt7daayo>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3aeo {margin:0px 0px;}
#wa-row-jcgntqrs4o3aeo>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3asw {margin:0px 0px;}
#wa-row-jcgntqrs4o3asw>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3b00 {margin:0px 0px;}
#wa-row-jcgntqrs4o3b00>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jbzoiawiarnqzs {margin:0px 0px;}
#wa-row-jbzoiawiarnqzs>div {padding: 0px 0px;}
#wa-row-jbzok1f5arjpyg {margin:0px 0px;}
#wa-row-jbzok1f5arjpyg>div {padding: 0px 0px;}
#wa-row-jbzoln0carmxt4 {margin:0px 0px;}
#wa-row-jbzoln0carmxt4>div {padding: 0px 0px;}
#wa-row-jbzolo7aarmueg {margin:0px 0px;}
#wa-row-jbzolo7aarmueg>div {padding: 0px 0px;}
#wa-row-jbzoloc1armwbs {margin:0px 0px;}
#wa-row-jbzoloc1armwbs>div {padding: 0px 0px;}
#wa-row-jbzologxarmw14 {margin:0px 0px;}
#wa-row-jbzologxarmw14>div {padding: 0px 0px;}
#wa-row-jbzoofqs9r4sao {margin:0px 0px;}
#wa-row-jbzoofqs9r4sao>div {padding: 0px 0px;}
#wa-row-jbzopho35phvq8 {margin:0px 0px;}
#wa-row-jbzopho35phvq8>div {padding: 0px 0px;}
#wa-row-jbzoqqd07zwlzc {margin:0px 0px;}
#wa-row-jbzoqqd07zwlzc>div {padding: 0px 0px;}
#wa-row-jbzoqwqm7zwloo {margin:0px 0px;}
#wa-row-jbzoqwqm7zwloo>div {padding: 0px 0px;}
#wa-row-jbzor6m35n3w20 {margin:0px 0px;}
#wa-row-jbzor6m35n3w20>div {padding: 0px 0px;}
#wa-row-jbzor9un7ch1oo {margin:0px 0px;}
#wa-row-jbzor9un7ch1oo>div {padding: 0px 0px;}
#wa-row-jbzoufk25m5ubc {margin:0px 0px;}
#wa-row-jbzoufk25m5ubc>div {padding: 0px 0px;}
#wa-row-jbzouhq45m5zco {margin:0px 0px;}
#wa-row-jbzouhq45m5zco>div {padding: 0px 0px;}
#wa-row-jbzouira5m5xa0 {margin:0px 0px;}
#wa-row-jbzouira5m5xa0>div {padding: 0px 0px;}
#wa-row-jbzowddm7tab40 {margin:0px 0px;}
#wa-row-jbzowddm7tab40>div {padding: 0px 0px;}
#wa-row-jbzown778eg11c {margin:0px 0px;}
#wa-row-jbzown778eg11c>div {padding: 0px 0px;}
#wa-row-jbzowxyb9r4y4g {margin:0px 0px;}
#wa-row-jbzowxyb9r4y4g>div {padding: 0px 0px;}
#wa-row-jc51vigu2pktkw {margin:0px 0px;}
#wa-row-jc51vigu2pktkw>div {padding: 0px 0px;}
#wa-row-jcdarw7561gzk0 {margin:0px 0px;}
#wa-row-jcdarw7561gzk0>div {padding: 0px 0px;}
#wa-row-jcdarw7561gznk {margin:0px 0px;}
#wa-row-jcdarw7561gznk>div {padding: 0px 0px;}
#wa-row-jcdarw7561gzr4 {margin:0px 0px;}
#wa-row-jcdarw7561gzr4>div {padding: 0px 0px;}
#wa-row-jcdarw7561h14w {margin:0px 0px;}
#wa-row-jcdarw7561h14w>div {padding: 0px 0px;}
#wa-row-jcdarw7561h1j4 {margin:0px 0px;}
#wa-row-jcdarw7561h1j4>div {padding: 0px 0px;}
#wa-row-jcdarw7561h2io {margin:0px 0px;}
#wa-row-jcdarw7561h2io>div {padding: 0px 0px;}
#wa-row-jcf3djdt7daayo {margin:0px 0px;}
#wa-row-jcf3djdt7daayo>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3aeo {margin:0px 0px;}
#wa-row-jcgntqrs4o3aeo>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3asw {margin:0px 0px;}
#wa-row-jcgntqrs4o3asw>div {padding: 0px 0px;}
#wa-row-jcgntqrs4o3b00 {margin:0px 0px;}
#wa-row-jcgntqrs4o3b00>div {padding: 0px 0px;}
}
